@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


:root{
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
    --form-bg-color: #DCDCDC;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    margin-bottom: 100px;
}

header h1{
    margin: 20px 0px 0px 50px;
    font-weight: normal;
}

h3{
    text-align: center;
    font-size: 3rem;
    margin-top: 75px;
}

p{
    font-size: 1.8rem;
}

main{
    background: url("/images/polaroid.png") no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero{
    text-align: center;
    min-height: 800px;
}

.hero h2{
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;

}

.details ul{
    padding: 0;
}

.details ul li{
    list-style-type: none;
    margin: 20px 0;
    padding: 0 0 0 80px;
    font-size: 1.8rem;
}

.details ul li.wifi{
    background: url("/images/wifi-solid.svg") no-repeat center left;
}

.details ul li.cloud{
    background: url("/images/cloud-arrow-up-solid.svg") no-repeat center left;
}

.details ul li.qr-code{
    background: url("/images/qrcode-solid.svg") no-repeat center left;
}

.details ul li.photo{
    background: url("/images/photo-film-solid.svg") no-repeat center left;
}

.cta{
    margin-bottom: 200px;
}

.form-cont {
    background-color: var(--form-bg-color);
    padding: 60px 60px 60px 60px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}


input[type="text"]{
    font-size: 1.5em;
    width: 600px;
    height: 75px;
    padding: 15px;
    border: 0;
}

input[type="button"]{
    font-size: 1.5em;
    border: 0;
    background: var(--accent-color);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
}

